  a:link {color:white;}

        a:visited{color:      #f26f0f;}

        a:hover{color: #f26f0f;

        outline: 4px  dotted       #f26f0f;}

        a:focus{outline:4px dotted #f26f0f;}


head {

    color: #e76f51;

    font-size: 20pt;

    border-bottom: none;

 

    }


body{

    background-image: center;

    background-repeat: no-repeat;

    background-size: cover;

    /*background-position: top left;*/

    background-size: 1510px  785px;

    text-align: center;

    font-stretch: expanded;

    font-style: bold;

    font-family: 'Josefin Sans', sans-serif;

    border-color: #457b9d;

 

    }


h1{color: #f4a261;

    letter-spacing: 2px;   

    border-color: #457b9d;

    border-bottom: none;}

 

nav {margin-top: 150px;

    letter-spacing: 2px;

    font-size: 10pt;

    }

 

  nav ul li {

    text-decoration-style: wavy;

    display: inline;

    padding: 134px;

    }

 
footer{    margin-top:225px;}


h4{text-align:center;

    color:white;

    font-size:20pt;

    background-color: #457b9d;

    opacity: .8;

    border: outset 3px;

    border-color:white;

    padding:5px;

    margin-left:450px;

    margin-right:450px;

    border-spacing: inherit;}
