  a:link {
      color: white;
  }
  a:visited {
      color: purple;
  }
  a:hover {
      color: lightcoral;
      outline: 4px dotted white;
  }
  a:focus {
      outline: 4px dotted white;
  }
  header {
      
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      border: outset 7px;
      border-color: mediumpurple;
      margin-left: 988px;
  }
  body {
      
    background-image: url(image/rentcito.jpg);
    background-size: 2200px 1000px;
    background-position: top left;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;*/
  }
  #lessorH {
      color: rebeccapurple;
      margin-left: 500px;
  }

  #lessorNav {
      margin-left: 475px;
  }
  #leessesH {
      color: rebeccapurple;
      margin-left: 325px;
  }
  #leessesNav {
      margin-left: 300px;
  }
  #mainH {
      color: rebeccapurple;
      margin-left: 100px;
  }
  #mainNav {
      margin-left: 075px;
  }
  #mainOl li {
      margin-right: 50px
  }

main {
    background-image: url(../images/opacity%20box.png) ;
    background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 70px;
    }

/* div {
      margin-top: -200px;
  }*/

.dropbtn {
            background:none;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color:none;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {background-color: #ddd;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color:none;}
