  a:link {
      color: white;
  }
  a:visited {
      color: purple;
  }
  a:hover {
      color: lightcoral;
      outline: 4px dotted white;
  }
  a:focus {
      outline: 4px dotted white;
  }
  header {
      background-image: url(images/rentcito.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      border: outset 7px;
      border-color: mediumpurple;
      margin-left: 988px;
  }
  body {
      /*
    background-image: url(../images/paint.jpg);
    background-size: 2200px 1000px;
    background-position: top left;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;*/
  }
  #lessorH {
      color: rebeccapurple;
      margin-left: 500px;
  }

  #lessorNav {
      margin-left: 475px;
  }
  #leessesH {
      color: rebeccapurple;
      margin-left: 325px;
  }
  #leessesNav {
      margin-left: 300px;
  }
  #mainH {
      color: rebeccapurple;
      margin-left: 100px;
  }
  #mainNav {
      margin-left: 075px;
  }
  #mainOl li {
      margin-right: 50px
  }
  /*
main {
    background-image: url(../images/opacity%20box.png) ;
    background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 70px;
    }

  div {
      margin-top: -200px;
  }
*/
